{
  type: 'object'
  title: 'Filtered Stream'
  'x-group-name': 'Public'
  required: ['slurry']
  properties:
    slurry:
      type: 'object'
      properties:
        disabled:
          type: 'boolean'
          title: 'Disabled'
          description: 'Stop streaming'
        track:
          type: 'array'
          title: 'Track Keywords'
          description: 'A list of phrases which will be used to determine what Tweets will be delivered on the stream.'
          items:
            type: 'string'
          default: []
        follow:
          type: 'array'
          title: 'Follow Users'
          description: 'A list of user IDs, indicating the users whose Tweets should be delivered on the stream.'
          items:
            type: 'string'
          default: []
}
