{
  type: 'object'
  title: 'Message Stream'
  'x-group-name': 'User'
  required: ['slurry']
  properties:
    slurry:
      type: 'object'
      properties:
        disabled:
          type: 'boolean'
          title: 'Disabled'
          description: 'Stop streaming'
}
